.card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}


.tool-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.492);
}