/* index.css */
.footer {

  width: 100%;
  background: #0000008a; /* dark background */
  color: #ff008c; /* soft pink */
  padding: 3rem 1.5rem;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top:1px solid #ec4899;
}




.footer-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ec4899; /* bright pink */
  margin-bottom: 1rem;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-logo:hover {
  color: #f472b6; /* lighter pink */
  transform: scale(1.05);
}

.footer-tagline {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #ffcbe8; /* soft pink text */
  transition: color 0.3s ease;
  font: bold;
}

.footer-tagline:hover {
  color: #fbcfe8; /* lighter shade on hover */
}

/* Responsive */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .footer-brand {
    text-align: left;
  }
}
